# pip3 install -U -r requirements.txt
numpy
scipy
torch
opencv-python
exifread
bokeh


# Equivalent conda commands ----------------------------------------------------
# conda update -n base -c defaults conda
# conda install -yc anaconda numpy opencv matplotlib tqdm pillow plotly
# conda install -yc pytorch pytorch torchvision
# conda install -yc bokeh bokeh